body{
	background:url('img/bg.png');
	font-family: 'Play', arial;
	color:#ccc;
}
hr{
	border:0px;
	border-top:1px solid #033;
}
hr.small{
	margin:5px 0px;
}

/* page structure */
.container{
	width:620px;
}
.container.big{
	width:auto;
	max-width:960px;
}
header{
	margin-top:40px;
	padding:10px;
	text-align:center;
}
#content{
	background:rgba(0,0,0,0.6);
	border-radius:10px;
	margin:20px auto 5px auto;
}
.inside{
	padding:25px;
}
.leftborder{
	background:rgba(0,50,50,0.4);
}
.msg{
	font-size:18px;
	line-height:150%;
	text-align:center;
	color:#ccc;
	text-transform:uppercase;
}
#bottomnav li, #topNav li{
	display:inline-block;
}
#bottomnav li a, #topNav li a{
	display:block;
	padding:5px 10px;
	border-left: 4px solid #444;
	color:#ccc;
	background:rgba(0,0,0,0.5);
	margin:2px 5px;
}
#bottomnav li a:hover #topNav li a:hover{
	border-color:#0aa;
	text-decoration:none;
}

#login-btn{
	margin:10px 0px 0px;
}
/* ---page structure--- */


/* register modal */

#register{
	color:#555;
}
/* ---register modal--- */


/* questions page */
ul.questions li a{
	display:block;
	color:#aaa;
	font-size:14px;
	border-bottom:1px solid #444;
	padding:10px;
	margin:0px;
}
ul.questions li.active a{
	border-color:#066;
	background:rgba(150,150,150,0.1);
}
ul.questions li a:hover{
	text-decoration:none;
	border-color:#066;
}
ul.questions li a.solved{
	border-bottom:1px solid #072;
	background:rgba(0,150,50,0.1);
}

ul.questions li a.title{
        border-bottom:1px solid #072;
        background:rgba(0,0,150,0.1);
}

ul.topic li a{
	font-size:16px;
}
ul.questions li a .badge{
	float:right;
}
#greet{
	margin:0px 5px -15px 5px;
}
/* ---questions page--- */


/* scoreboard page */
#sb{
	width:100%;
}
#sb td{
	padding:5px 10px;
	background:rgba(20,20,20,0.2);
	border-bottom:1px solid #555;
	text-align:center;

}
#sb tbody tr:nth-child(-n+10) td{
	background:rgba(0,100,0,0.2);
	border-bottom:1px solid #040;
}
#sb tbody tr:nth-child(-n+5) td{
	background:rgba(0,100,0,0.4);
	border-bottom:1px solid #040;
}
#sb tbody tr:nth-child(-n+1) td{
	background:rgba(0,100,30,0.7);
	border-bottom:1px solid #040;
	font-size:18px;
	text-shadow:1px 1px 1px #000;
}
#sb thead td{
	background:#033;
	border-bottom:1px solid #077;
	text-shadow:1px 1px 1px #000;
}


#sb tr:hover{
	background:rgba(150,150,150,0.5)
}
/* ---scoreboard page--- */

/* question page */
#q h1{
	text-align:center;
	color:#0aa;
	font-size:30px;
	margin:0px 0px 20px 0px;
	text-shadow:3px 3px 1px #000;
	border-bottom:1px dotted #aaa;
	padding-bottom:15px;
}

#q p.question{
	font-size:14px;
	color:#aaa;
	line-height:27px;
	word-wrap:break-word;
}

#q .form-actions{
	background:rgba(0,0,0,0.5);
	margin-bottom:0px;
	border-top:1px dotted #333;
}
#q .badge{
	vertical-align:middle;
}
/* ---question page--- */

.mad-img{
	border-radius:5px;
	border:3px solid #033;
}
.madprop{
	margin:10px 30px;
}
#topNav{
	position:fixed;
	top:0;
	right:0;
}
